<h3><a href = "/players">Players Index</a></h3>
<h3><a href = "/teams">Teams Index</a></h3>

<% @players.each do |player| %>
<h4><%= player.name %> <a href="/teams/<%= player.id %>/edit">Update <%= player.name %></a></h4>
<p><%= player.team_id %></p>
<p><%= player.age %></p>
<p><%= player.injured %></p>
<p><%= player.created_at %></p>
<p><%= player.updated_at %></p>
<% end %>

<h3><a href = "/teams/<%= @team.id %>/players/new">Create Player</a></h3>
