<a href = "/players">Players Index</a>
<br>
<a href = "/teams">Teams Index</a>

<h1 style="margin-bottom: 0px;">Teams</h1>
<a href = "/teams/new">New Team</a>
<br>
<br>
<% @teams.each do |team| %>
  <a href = "/teams/<%=team.id%>">
    <h2 style="display:inline"><%= team.name %></h2>
  </a>
  <%= team.created_at %>
  <a href = "/teams/<%=team.id%>/edit">Update <%= team.name %></a>
  <br>
  <br>
<% end %>
