<a href = "/players">Players Index</a>
<br>
<a href = "/teams">Teams Index</a>

<h1 style="margin-bottom: 0px;">Teams</h1>
<a href = "/teams/new">New Team</a>
<br>
<br>
<% @teams.each do |team| %>
<div data-id="<%= team.id %>">
  <h2 style="display:inline">
    <a href = "/teams/<%=team.id%>"><%= team.name %></a>
  </h2>
  <a href = "/teams/<%=team.id%>/edit">Update</a>
  <%= team.created_at %>
  <%= link_to 'Delete', "/teams/#{team.id}", method: :delete %>
  <br>
  <br>
</div>
<% end %>
