<a href = "/players">Players Index</a>
<br>
<a href = "/teams">Teams Index</a>

<h1 style="margin-bottom: 0px;"><%= @team.name %></h1>
<a href = "/teams/<%= @team.id %>/edit">Update</a>
<p>Rank: <%= @team.rank %></p>
<p>Won Championship: <%= @team.won_championship %></p>
<p>Created at: <%= @team.created_at %></p>
<p>Updated at: <%= @team.updated_at %></p>
<p>Player Count: <%= @team.players.count %></p>

<a href = "/teams/<%= @team.id %>/players"><%= @team.name %> Players</a>
<br>
<%= button_to 'Delete', "/teams/#{@team.id}", method: :delete %>
