<a href = "/players">Players Index</a>
<br>
<a href = "/teams">Teams Index</a>

<h1 style="margin-bottom: 0px;"><%= @player.name %></h1>
<a href = "/players/<%= @player.id %>/edit">Update</a>
<p>Team ID: <%= @player.team_id %></p>
<p>Age: <%= @player.age %></p>
<p>Injured: <%= @player.injured %></p>
<p>Created at: <%= @player.created_at %></p>
<p>Updated at: <%= @player.updated_at %></p>
<%= button_to 'Delete', "/players/#{@player.id}", method: :delete %>
