<h3><a href = "/players">Players Index</a></h3>
<h3><a href = "/teams">Teams Index</a></h3>

<h1><%= @player.name %></h1>
<p><%= @player.team_id %></p>
<p><%= @player.age %></p>
<p><%= @player.injured %></p>
<p><%= @player.created_at %></p>
<p><%= @player.updated_at %></p>

<h3><a href = "/players/<%= @player.id %>/edit">Update <%= @player.name %></a></h3>
